- const gamers = usersData
mixin profiles(profileData)
        section(class="profile-box") 
            h2= profileData.gamerNickName
            p
                img(src=profileData.gamerAvatar)
            p= profileData.gamerNickName
            p= profileData.gamerFavGame
            p= profileData.gamerFavChar
            button( class="button") I Challenge You

doctype html
html
    include includes/head.pug
    
    body
        include includes/header.pug
        main
            article
                h2=paginaTitel
                section 
                    p Dit zijn de actuele gamers die je kan uitdagen.

                section(class="profile-section")  
                    each gamer in gamers 
                        +profiles(gamer)



            
        include includes/footer.pug
