doctype html
html
    include includes/head.pug
    
    body
        include includes/header.pug
        main
            article
                if uploaded   
                    h2(class="content-center")=infoTitel

                    section(class="prfl-u-box content-center")  
                        p Jouw profiel afbeelding is: 
                            img(src=userAva) 
                        p Jouw iCu naam is:  
                            span=nameGamer
                        p Jouw Favoriete game is: 
                            span=favGame
                        p Jouw Favoriete Character is: 
                            span=favChar
                        p
                        - let btnAct = '/delete/' + idGamer
                        form(id="profile-form" action=btnAct method=reqDelete enctype="multipart/form-data")
                            section     
                                button(type="submit" class="button") Verwijder gegevens

                else
                
                    h2(class="content-center") Profiel pagina
                    p(class="content-center") Hallo iCu Gast! om te kunnen matchen met andere gamers, is het nodig dat je hieronder je gegevens aan ons door geeft. 

            article(class="form-box")
                h2 Profiel gegevens bewerken
                form(id="profile-form" action=formAction method=reqMethod enctype="multipart/form-data")
                    h3 Stel een profiel foto in:
                    p 
                        label(for="image") Profiel foto uploaden:  
                            input(id="image" type="file" name="filename"  accept="image/*")
                    
                    h3 Stel je profielnaam in:
                    p
                        label(for="name") Vul je naam:  
                            input(type="text" id="name" name="username")
                    
                    h3 Stel je favoriete game in:
                    p 
                        label(for="games") Kies uit: 
                            select(id="games" name="game")
                                option(value="false" selected) Nog geen... 
                                option() Apex
                                option() Tekken
                                option() COD Warzone
                                option() Mortal Combat
                                option() Leage of Legends

                    h3 Stel je favoriete character in:
                    p
                        label(for="favmain") Vul de naam van je favorite character:  
                            input(id="favmain" type="text"  name="character") 
                    section 
                        p
                            button(type="submit" class="button") Opslaan


    include includes/footer.pug